// Wow, you looked under the hook! I'm flattered! Curious? The backend for this silly thing is written in NodeJS. Check it out here: https://github.com/Swingline0/Reddit-Headlines 

doctype html
html
  head
    title= 'reddit headlines'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1='reddit headlines'
    block content
  footer
    made with loving procrastination by <a href="http://eran.sh" target="_blank">eran</a>
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript', src='javascripts/jquery.slabtext.min.js')
script(type='text/javascript', src='javascripts/jquery.blast.min.js')
script(type='text/javascript', src='javascripts/blast-demo.js')